// Colors
@import './utils/vars';
// Global
@import './components/body';
@import './components/logo';
// Header
@import './components/header';
// Main
@import './components/hero';
@import './components/features';
@import './components/activity';
@import './components/team';
@import './components/customers';
// Footer
@import './components/footer';
//Modal
@import './components/modal';
@import './components/menu';
//Portfolio
@import './components/filter';
@import './components/gallery'
