
/*МОДАЛКА*/

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;

    background: rgba(0, 0, 0, 0.2);
    transition: opacity 700ms, visibility 700ms;
  
&.is-hidden .modal {
    transform: scale(2);
    transition: linear 700ms;
}
}



.modal {
    @media screen and (min-width: 1200px) {
        width: 528px;
    min-height: 581px;
    }
    
   

    width: 450px;
    min-height: 609px;
    
    left: 50%;
    top: 50%;
   
    position: absolute;
    transform: translate(-50%, -50%);
    
    background: $bgr-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: linear 700ms;
    
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}


.modal__form {
    padding: 30px;

}

.form__title {

    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    color: $title-main;

    margin-bottom: 12px;
}





.form__label {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
   
    letter-spacing: 0.01em;
    
    color: $main-text;

   

    &:hover .form__icon {
       fill: $accent-color;
    
    }
}


.form__input {
    width: 100%;
    height: 40px;
display: flex;
align-items: center;
margin-top: 4px;
margin-bottom: 10px;
padding-left: 40px;
padding-right: 10px;

border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;

outline: none;
cursor: pointer;

transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:focus, &:hover {
    border-color: $accent-color;
}



}


.form__wrap {
position: relative;
display: block;

}



.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
    padding: 12px 16px;
   width: 100%;
    height: 120px;
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px; 

    resize: none;
    cursor: pointer;
    outline: none;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {
    border-color: $accent-color;
}
&::placeholder {

    font-style: normal;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
}


.form__text {
    margin-bottom: 30px;
    font-style: normal;
font-size: 14px;
line-height: 1.7;

letter-spacing: 0.03em;

color: $main-text;
}



.form__button {
    width: 200px;
    height: 50px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 56px;

    margin-right: auto;
    margin-left: auto;
    
    
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: hidden;

    display: flex;
    align-items: center;
    text-align: center;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;



    letter-spacing: 0.06em;
    color: $btn-text-two;

    cursor: pointer;

}
.checkbox__label {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.checkbox__input {
    width: 16px;
    height: 15px;
    margin-right: 6px;
    outline: none;
    &:checked {
        appearance: none;
        -webkit-appearance: none;
        background-image: url(../../img/modal-check.svg);
    }
}

.form__link {
color: $accent-color;
text-decoration: underline;
margin-left: 5px;
}




.modal__close {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;

    padding: 6px;
    
    cursor: pointer;

    background: $bgr-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover .modal__close-icon, 
&:focus .modal__close-icon {
fill: $accent-color;

}
}